<div class="share-buttons">
  {% for item in site.data.navigation.languages %}
  {% if item.language == page.lang %}
  <h6>{{ item.subscribe }}</h6>
  <ul>
    <li>
      <a href="{{site.url}}/feed.xml" target="_blank" title="Subscribe to RSS"><i class="fas fa-rss-square"></i><span>RSS</span></a>
      </li> 
      <li>
        <a href="http://listserv.utoronto.ca/cgi-bin/wa?A0=CDDP-PDDR-L" target="_blank" title="Join the listserv"><i class="fas fa-paper-plane"></i><span>{{ item.list }}</span></a>
        </li> 
      </ul>
      {% endif %}
      {% endfor %}

  {% for item in site.data.navigation.languages %}
  {% if item.language == page.lang %}
  <h6>{{ item.share }}</h6>

  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.title_en }}&mdash;{{ page.title }}&url={{ site.url }}{{ page.url }}&hashtags=CCDDP,census,canada" target="_blank" title="Share on Twitter"><i class="fab fa-twitter-square"></i><span>Twitter</span></a>
    </li>
    <li>
      <a href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ site.title_en }}&mdash;{{ page.title }}" target="_blank" title="Share on Reddit"><i class="fab fa-reddit-square"></i><span>Reddit</span></a>
      </li>
  </ul>

  {% endif %}
  {% endfor %}
</div>
