<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">

        {{ content }}
        {% include footer.html %}

      </div>
    </div>

  </div>
  <!--- LIGHTBOX not working
  <script type="text/javascript" src="/js/lightbox.js"></script>
  <link rel="stylesheet" href="/css/lightbox.css">
  --->

  {% include js.html %}

  </body>
  </html>
