---
layout: default
---

<div id="post">

    {% include breadcrumbs.html %}

    <header class="page-header">
      {% include language-selector.html %}
      <h2>{{ page.title }}</h2>
    </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>


<!--
<div class="share-buttons">
  <h6>Share on: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
  </ul>
</div><!-- end share-buttons -->
